{% extends "base.html" %} {% load i18n %} {% block meta_title %}{% trans "Home" %}{% endblock %} {% block title %}{% trans "Home" %}{% endblock %} {% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %} {% block main %} {% blocktrans %}
<section id="intro" class="section ">
    <div class="cut cut-top cut-top-white"></div>
    <div class="container ">

        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-8">
            <div class="text-center title">
                <div id="custom-pagination-container"></div>
                <div class="intro-title"></div>
            </div>

            <!--          <div class="cut-top-left-white"></div>-->
            <div class='intro-img'>
                <!-- Wrapper for slides -->
                <div class='newDots'>
                    <ul id='carousel-custom-dots' class='owl-dots'>
                        <li id="1" class="fa fa-users" title="Title 1"></li>
                        <li id="2" class="fa fa-bolt" title="Title 2"></li>
                        <li id="3" class="fa fa-desktop"></li>
                    </ul>
                </div>

                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item first">
                        <img src="/static/media/uploads/p1050342.jpg" title="Title 1" alt="Alt 1" />
                    </div>
                    <div class="item">
                        <h4>Access All Areas Energy</h4>
                        <p>There are 1.1 billion people worldwide living without electricity and many more with limited or heavily disrupted supply. This means closing your shop at sunset, sitting indoors with dangerous kerosene lamps, and not being able to do your homework. </p>
                    </div>
                    <div class="item second"><img src="static/media/uploads/p1050458.jpg" title="Title 2" alt="Alt 2" /></div>

                    <div class="item first">
                        
                        <img src="static/media/uploads/016.jpg" title="Title 2" alt="Alt 2" /></div>
                    <div class="item">
                       <h4>Flexible, Enabling Technology</h4>
                        <p>Solar is a clean and efficient way of providing electricity to those who live on and off-grid. But buying solar panels outright is far too expensive for many people and a simply out of reach for those living without power. </p>
                    </div>
                    <div class="item second">
                        <img src="/static/media/uploads/p1050303.jpg"></div>

                    <div class="item first">
                        <img title="Title 4" alt="Alt 1" src="/static/media/uploads/20160816_142123.jpg"></div>
                    <div class="item">
                       <h4>Expanding Energy Horizons</h4>
                        <p>Cloud Solar’s smart monitoring system and innovative hardware technology enables energy providers to offer flexible technologal and payment solutions – including pay-as-you-go. Cloud Solar reduces financial and connectivity barriers to energy access, whilst increasing security and scope of provision for energy providers.</p>
                    </div>
                    <div class="item second">
                        <img src="/static/media/uploads/20160816_142113.jpg"></div>
                </div>
            </div>
            
        </div>
</section>

<!--    ---------End   About section ----- -->
<!--    ---------System section ----- -->

<section id="system" class="section">
    <div class="container" data-img="../img/electronics_05-red.jpg">
        <div class="text-center title">
            <h2 class='white'>The Cloud Solar System</h2>
        </div>
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-10 col-md-8 boxes">
            <p class="light ">Cloud Solar allows energy providers to sell energy in a smart, flexible and secure way – whilst increasing the reach of their services. The system has a modular hardware design, meaning lower costs and further possibilities. Data is transferred from the hardware to our cloud server and displayed on our management platform.</p>
<p>We are happy to create a bespoke system for your needs, whether you work on or off grid, with solar home systems, mini-grids, or anything in between.</p>
            <div class='text-center'>
                <p >For more information or a demonstration</p>
                <a href="mailto:info@cloud-solar.com?subject=Cloud Solar" class="btn btn-white-fill">Get in touch</a>
            </div>
            <div class=" boxes">
                <div class="box box-2" id="management">
                    <h3 class="box-title white">Software</h3>
                    <div class="box-content">
                        <p class=" white text-left">
                           Our management portal allows users to see their system performance and pay their bills via a web or mobile interface, whilst energy providers  can remotely view and operate the systems. The Cloud-Solar portal provides an easy way for customers to communicate with providers.
                        </p>

                    </div>
                </div>
                <div class="box box-2" id="hardware">
                    <h3 class="box-title white">Hardware</h3>
                    <div class="box-content">
                        <p class="white text-left">
                           We can provide our monitoring hardware for small DC systems up to mini grids. A ‘hub’ and ‘node’ system keeps Cloud Solar online; whether you are connected to WiFi or live in an area with no internet or phone signal. Our modular design means that you can add or remove features, depending on your needs and budget.
                        </p> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--    ---------End   System section ----- -->
<!--    ---------Features section ----- -->
<section id="features" class="section ">
    <div class="container">
        <div class="text-center title">
            <h2>Key Features</h2>
        </div>
        <div class="col-md-1 col-lg-2"></div>
        <div class="row col-sm-12 col-md-10 col-lg-8 features">
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <div class="icon-holder">
                        <img src="static/img/icons/hardware.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Reduced hardware costs</h4>
                    <p class=" grey description">We use a ‘hub’ and ‘node’ model to reduce costs to our clients. A ‘hub’ can serve an area of up to 225 km2, communicating with up to 2000 more simple nodes. Data transfers from ‘nodes’ to more complex ‘hubs’ before being sent to the server.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <!--col-xs-12 col-sm-6 col-md-3-->
                <div class="feature">
                    <div class="icon-holder">
                        <img src="static/img/icons/payments.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Unlimited payment options</h4>
                    <p class="grey description">Our system allows the project owners to create their own payment plans, whether based on flat rates, pay per unit, time based tariffs, or a combination. The way customers are charged is 100% flexible.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <div class="icon-holder">
                        <img src="static/img/icons/village.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Use in unconnected areas</h4>
                    <p class=" grey description">We use a range of advanced communications technology to send data from unconnected regions, into connected areas and to our servers. This means Cloud Solar allows control of solar technology just about anywhere.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <div class="icon-holder">
                        <img src="static/img/icons/admin.png" alt="" class="icon">
                    </div>
                    <h4 class="heading">Connect in with your maintenance team</h4>
                    <p class="grey description">You can set customised alerts to be sent to your HQ or field agents, by SMS, email or push notifications, to ensure your repair and maintenance operations are responsive and effective.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!--    ---------End   Features section ----- -->
<!--    ---------Pricing section ----- -->
<section class="section section-padded">
    <div class="container">
        <div class="cut cut-top cut-top-yellow" style="width:100%;"></div>
        <div class="row title text-center" id="pricing">
            <h2 class="margin-top white">Pricing</h2>

        </div>
        <div class="col-sm-2 col-md-2"></div>
        <div class=" col-sm-8 col-md-8">
            <div class="pricing-box box-3 pricing-first" id="management">
                <h4 class="col-xs-12 white ">Software</h4>
                <div class="content">
                    <h3 class=" yellow text-center" style="margin-top:200px;">
								Coming Soon ...
							</h3>
                </div>
                <!--
                <div class="content">
                    <h1 class="yellow text-center"><span class="superscript">£</span>80<span class="per_month">/mo</span></h1>
                </div>
                <div class="col-xs-12 margin-top">
                    <ul>
                        <li>Lightroom CC and Photoshop CC</li>
                        <li>All the essentials to organize, edit and share photos on your desktop and mobile devices</li>
                        <li>Your own portfolio website</li>
                        <li><a class="photography_learn_more_link" href="https://www.adobe.com/creativecloud/photography.html" tabindex="1" target="_self">Learn more</a></li>
                    </ul>
                </div>
-->
            </div>
            <div class="pricing-box box-3" id="harware">
                <h4 class="col-xs-12 white">Hardware</h4>
                <div class="content">
                    <h3 class=" yellow text-center" style="margin-top:200px;">
								Coming Soon ...
							</h3>
                </div>
            </div>
            <div class="pricing-box box-3" id="harware">
                <h4 class=" col-xs-12 white">Cloud Package</h4>
                <div class="content">
                    <h3 class=" yellow text-center" style="margin-top:200px;">
								Coming Soon ...
							</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    ---------End   Pricing section ----- -->
<!--    ---------contact section ----- -->
<!--<section id="contact" class="section">
    <div class="container">
        <div class="row title text-center">
            <h2>Contact</h2>
        </div>
        <div>
            <form action="" class="popup-form">
                <table width="450px">
                    </tr>
                    <tr>
                        <td valign="middle">
                            <label class="grey" for="first_name">First Name *</label>
                        </td>
                        <td valign="top">
                            <input class="form-control form-grey" type="text" name="first_name" maxlength="50">
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <label class="form-label" for="last_name">Last Name *</label>
                        </td>
                        <td valign="top">
                            <input type="text" name="last_name" maxlength="50">
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="email">Email Address *</label>
                        </td>
                        <td valign="top">
                            <input type="text" name="email" maxlength="80" size="30">
                        </td>

                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="telephone">Telephone Number</label>
                        </td>
                        <td valign="top">
                            <input type="text" name="telephone" maxlength="30" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="comments">Comments *</label>
                        </td>
                        <td valign="top">
                            <textarea name="comments" maxlength="1000" cols="25" rows="6"></textarea>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                             We are grateful to you for keeping this link in place. thank you. 
                            <input type="submit" value="Submit"> ( <a href="http://www.freecontactform.com/html_form.php">HTML Form</a> )
                        </td>
                    </tr>
                </table>
              
					<input type="text" class="form-control form-grey" placeholder="Full Name">
					<input type="text" class="form-control form-grey" placeholder="Email Address">

					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="None" id="squaredOne" name="check" />
							<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
						</div>
					</div>

            </form>
        </div>
    </div>
</section>-->

{% endblocktrans %} {% endblock %}