{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
<!--               Option I     -->
	   			<!--<div class="row intro-tables">
				<div class="col-md-11 col-md-offset-1">
					<div class="intro-table intro-table-img-1">
						<h5 class="white heading">About the project</h5>
						<div class="owl-carousel owl-schedule">
							<div class="item">	
				                <h4 class="white content">The Cloud Solar product suite allows project owners to offer their services in a smarter way that involves lower overheads, lower investment risks, flexible tariffs and payment plans.</h4>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-11 col-md-offset-1">
					<div class="intro-table intro-table-green">
						<h5 class="white heading hide-hover">Premium Membership</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Register Today</h4>
							<h4 class="white heading small-pt">20% Discount</h4>
							<a href="#" class="btn btn-white-fill expand">Register</a>
						</div>
					</div>
				</div>
				<div class="col-md-11 col-md-offset-1">
					<div class="intro-table intro-table-yellow">
						<h5 class="white heading">Happy Clients</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">I couldn't be more happy with the results!</h4>
								<h5 class="white heading light author">Adam Jordan</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">I can't believe how much better I feel!</h4>
								<h5 class="white heading light author">Greg Pardon</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
								<h5 class="white heading light author">Christina Goldman</h5>
							</div>
						</div>
					</div>
				</div>
			</div>-->
<!--	-----------------------------------------		-->

<!--               Option II     -->
               
	   			<div class="row intro-tables">
				<div class="col-md-11 col-md-offset-1">
					<div class="intro-table intro-table-img-2">
							<h5 class="white heading">Happy Clients</h5>
						<div class="owl-testimonials ">
							<div class="item">
								<h5 class="white heading content">The Cloud Solar product suite allows project owners to offer their services in a smarter way that involves lower overheads, lower investment risks, flexible tariffs and payment plans.</h5>

							</div>
							<div class="item">
								<h5 class="white heading content">Co-funded by Innovate UK and CORFO (Chile), Scene (UK) and Ciudad Luz (Chile) have developed Cloud Solar to allow the Energy Services Company (ESCo) model to be offered to users of solar energy. This is applicable to on-grid users, who choose to use solar energy, and also for the rural and urban poor; for whom Cloud Solar lowers barriers to accessing energy services.</h5>
								
							</div>
							<div class="item">
								<h5 class="white general">Cloud Solar has a modular hardware design, acknowledging the diversity of needs that exists within the solar energy sector – we are happy to create a bespoke system for your needs.</h5>
							</div>
						</div>
				</div>
	
			</div>
			</div>
<!--	-----------------------------------------		-->
		</div>
	</section>
		<section id="features" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Key Features</h2>
			</div>
			<div class="row features">
				<div class="col-md-4">
					<div class="feature">
						<div class="icon-holder">
							<img src="img/icons/heart-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Reduced hardware costs</h4>
						<p class="description">We use a hub and node model to reduce costs to our clients. Only one hub is required in an area of [X] KM2, with data transfers from simple nodes, to more complex ‘hubs’ before being sent to the server.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature">
						<div class="icon-holder">
							<img src="img/icons/guru-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Yoga Pilates</h4>
						<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature">
						<div class="icon-holder">
							<img src="img/icons/weight-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Power Training</h4>
						<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
<!--<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>-->
{% endblocktrans %}
{% endblock %}
